.article-section {
  background-image: linear-gradient(to top, #fff5f6 94.8%, #fff 0%);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to top, #fff5f6 90.5%, #fff 0%);
  }

  @media screen and (min-width: 1200px) {
    // position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: $backgroundcontactscolor;
    background-image: url('../images/sectioncontactsklayks@1x.png'),
      linear-gradient(to top, $backgroundcontactscolor 88%, #fff 0%);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/sectioncontactsklayks@2x.png');
    }
  }
}

// .article-section__dop {
//   @media screen and (min-width: 1280px) {
//     position: relative;
//     top: -102px;
//   }
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.article-section__site--city {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $textblackcolor;

  @media screen and(min-width:768px) and(max-width:1199px) {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: $textblackcolor;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: 186%;
  }
}

.article-section--border::before {
  content: '';
  position: absolute;
  display: block;
  width: 179px;
  height: 0px;
  border-bottom: 1px solid #e1e1e1;
  //   margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    width: 157px;
  }
  @media screen and (min-width: 1200px) {
    width: 234px;
  }
}

.article-section__site--days {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $textblackcolor;
  margin-top: 25px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 186%;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
    margin-top: 32px;
  }
}
.article-section__site--times {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $textpinkcolor;

  margin-bottom: 10px;

  &__second {
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: $textpinkcolor;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 14px;
      line-height: 186%;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
      line-height: 186%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 186%;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 186%;
  }
}

.article-section__link--tel,
.article-section__link--mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $textgreycolor;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 183%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 183%;
  }
}

.article-section__tel--link {
  margin: 25px 0 10px 0;

  @media screen and (min-width: 768px) {
    margin: 30px 0 16px 0;
  }
  @media screen and (min-width: 1200px) {
    margin: 32px 0 16px 0;
  }
}

.article-section__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 86px;
  }
}

.article-section__site {
  display: flex;
  flex-direction: column;
  padding: 43px 21px 43px 20px;

  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  background-color: $textWhitecolor;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-bottom: 0;
  }

  @media screen and(min-width:768px) and (max-width: 1199px) {
    padding: 50px 32px 50px 31px;
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    margin-right: 31px;

    padding: 51px 44px 62px 43px;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;

    // @media screen and (min-width: 768px) {
    //   margin-bottom: 81px;
    // }
    // @media screen and (min-width: 1200px) {
    //   margin-bottom: 86px;
    // }
  }
}

.article-section__site--locations {
  width: 80px;
  color: $textWhitecolor;
  background-color: $productsLi2color;
  border-radius: 4px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 73px;
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 186%;
  }
}

.article-section__site--locations-second {
  width: 130px;
  color: $textWhitecolor;
  background-color: $productsLi3color;
  border-radius: 4px;
  text-align: center;
  margin: 0 0 25px 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
  @media screen and(min-width:768px) and(max-width:1199px) {
    width: 138px;
    font-size: 16px;
    line-height: 186%;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 186%;
  }
}

.article-section__site--paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $textgreycolor;
  margin-bottom: 25px;

  @media screen and (min-width: 480px) and(max-width:767px) {
    width: 179px;
  }
  @media screen and(min-width:768px) and(max-width:1199px) {
    font-size: 14px;
    width: 179px;
    line-height: 166%;
    margin-bottom: 30px;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
    width: 244px;
    margin-bottom: 32px;
  }
}

.article-section__list--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-bottom: 113px;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    // padding-bottom: 158px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 165px;
  }
}
.article-section__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}
.article-section__list--locations,
.article-section__list--franchise {
  width: 161px;
  height: 44px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border: none;
}

.article-section__list--locations {
  // margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    width: 191px;
    // margin: 0 15px 0 0;
  }

  @media screen and (min-width: 1200px) {
    width: 198px;
  }
}

.article-section__list--franchise {
  @media screen and (min-width: 768px) {
    width: 174px;
  }

  @media screen and (min-width: 1200px) {
    width: 180px;
  }
}

.article-section__list--locations {
  background-color: $textredcolor;
  color: $textWhitecolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article-section__list--franchise {
  background-color: $textWhitecolor;
  color: $textredcolor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article-section__list--franchise:hover,
.article-section__list--franchise:hover {
  background-color: #ecebeb;
  color: $textredcolor;
}

.article-section__svg {
  margin-left: 8px;
  @media screen and (min-width: 768px) {
    margin-left: 14px;
  }
}
