.customer {
  position: relative;
  padding-top: 80px;
  // padding-top: 80px;
  // padding-bottom: 86px;
  padding-bottom: 86px;
  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1280px) {
    padding: 123px 157px 132px 157px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 85px;
  object-fit: cover;
  margin-bottom: 29px;

  @media screen and (min-width: 480px) {
    margin-bottom: 25px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }
}

.swiper-pagination {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}

.swiper-pagination-bullet-active {
  width: 13px;
  height: 12px;
  background-image: url('../images/home-dot.svg');
  background-size: cover;
  border-radius: unset;
  background-position: center;
  background-color: $textWhitecolor;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 12px;
  color: #d9d9d9;
}

.customer__text {
  position: relative;
  width: 280px;
  margin-bottom: 30px;
  padding: 43px 66px 26px 57px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: $textblackcolor;
  background-image: repeating-linear-gradient(
    to bottom,
    #e1e1e1 15px,
    transparent,
    22px,
    rgba(250, 250, 250, 0.4) 46px
  );
  background-position: 45px 55px;
  background-size: 180px 235px;
  background-repeat: no-repeat;
  background-color: #fafafa;
  z-index: 10;

  @media screen and (min-width: 480px) {
    width: 350px;
    margin-bottom: 35px;
    padding: 50px 60px 25px 60px;
    font-size: 13px;
    line-height: 2.25;
    background-position: 45px 60px;
    background-size: 260px 235px;
  }

  @media screen and (min-width: 768px) {
    width: 620px;
    margin-bottom: 42px;
    padding: 47px 80px 34px 80px;
    font-size: 14px;
    line-height: 2.16;
    background-position: 45px 60px;
    background-size: 524px 90px;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
    margin-bottom: 34px;
    padding: 47px 89px 39px 87px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    background-position: 45px 60px;
    background-size: 813px 60px;
  }
}

.customer__text::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 63px;
  background-image: url('../images/quotes.svg');
  width: 54px;
  height: 40px;
  z-index: -1;

  @media screen and (min-width: 480px) {
    top: 35px;
    left: 48px;
  }

  @media screen and (min-width: 768px) {
    top: 30px;
    left: 60px;
  }

  @media screen and (min-width: 1280px) {
    top: 32px;
    left: 50px;
  }
}

.customer__name {
  position: relative;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: $textblackcolor;
}

.customer__name::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 40%;
  width: 32px;
  height: 4px;
  background-image: url('../images/red-dots.svg');
  background-size: contain;
  background-repeat: no-repeat;
  fill: #c7133e;
}
