.header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav {
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
    }
  }
}

.header-menu {
  margin-left: auto;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    margin-left: 110px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &__link {
    display: block;
    color: $textWhitecolor;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;

    &:hover {
      color: $textredcolor;
    }
  }
}

.current-link {
  color: $textredcolor;
}

.mobile-menu {
  fill: $textredcolor;
  border: none;
  background: none;
  @media screen and (min-width: 320px) {
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__button {
  width: 160px;
  height: 44px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  color: $textredcolor;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;

  background-color: $textWhitecolor;

  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1280px) {
    margin-left: auto;
  }
}

.header__button--svg {
  width: 20px;
  height: 20px;
  fill: $textredcolor;
  margin-left: 14px;
  &--icon {
    fill: $textredcolor;
  }
}

.hero {
  width: 100%;
  position: absolute;
  z-index: 98;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: $productsLi1color;

  overflow: hidden;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 193px;
    padding-bottom: 160px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 28px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 45px;
  }
}

.hero-container {
  position: relative;
}

.hero__title {
  position: relative;
  z-index: 97;
  color: $textWhitecolor;
  font-family: 'Titan One';
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 320px) {
    margin-bottom: 20px;
    width: 218px;
    font-size: 26px;
  }
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    margin-top: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 25px;
    width: 277px;
    font-size: 38px;
    left: 95px;
  }

  &--span {
    color: $textredcolor;
    @media screen and (min-width: 320px) {
      font-size: 46px;
    }
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 60px;
    }
  }
}

.hero__link {
  position: relative;
  z-index: 96;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  color: $textWhitecolor;
  background-color: $textredcolor;

  font-size: 8px;
  line-height: 1.1;

  @media screen and (min-width: 320px) {
    width: 61px;
    height: 24px;
  }
  @media screen and (min-width: 1280px) {
    width: 102px;
    height: 40px;
    font-size: 14px;
    left: 95px;
  }

  &--white {
    color: $textredcolor;
    background-color: $textWhitecolor;
    @media screen and (min-width: 320px) {
      width: 82px;
      margin-left: 8px;
    }
    @media screen and (min-width: 1280px) {
      width: 138px;
      margin-left: 15px;
    }
  }
}

.hero__description {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.Hero__imga {
  @media screen and (min-width: 768px) {
    margin-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 56px;
    width: 188px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__description--arrow {
    margin-top: 66px;
  }
  .hero__description--text {
    width: 114px;
    font-size: 8px;
    line-height: 1.5;
    color: $textWhitecolor;
  }
  .hero__description--svg {
    width: 18px;
    height: 18px;
    margin-top: 7px;
    border-radius: 50%;
    background: $textWhitecolor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    fill: #d41443;
  }
}
@media screen and (min-width: 1280px) {
  .hero__description--arrow {
    margin-top: 112px;
  }
  .hero__description--text {
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
    color: $textWhitecolor;
  }
  .hero__description--svg {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    border-radius: 50%;
    background: $textWhitecolor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    fill: #d41443;
  }
}
.circle {
  position: absolute;

  z-index: 0;

  border-radius: 50%;
  background-color: #ffa5ba;

  @media screen and (min-width: 320px) {
    top: 83px;
    left: 36px;
    width: 346px;
    height: 344px;
  }
  @media screen and (min-width: 768px) {
    top: 31px;
    left: 307px;
    // width: 324px;
    // height: 322px;
  }
  @media screen and (min-width: 1280px) {
    top: 52px;
    left: 475px;
    width: 538px;
    height: 538px;
  }
}

.ice-cream {
  position: absolute;
  display: block;
  bottom: 0;

  @media screen and (min-width: 320px) {
    left: 117px;
    width: 171px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 143px;
    left: 378px;
  }
  @media screen and (min-width: 1280px) {
    width: 236px;
    left: 594px;
  }
}

.grafin {
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .object {
    display: none;
  }
  .object__ellipse {
    display: none;
  }
  .object__number {
    display: none;
  }
  .object__descript {
    display: none;
  }
  .object__number--second {
    display: none;
  }
  .girl {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .object {
    position: absolute;
    top: 94px;
    right: 30px;
  }
  .object__ellipse {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $textWhitecolor;
    left: 35px;
  }
  .object__number {
    position: relative;
    font-family: Titan One;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .object__descript {
    font-family: DM Sans;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: $textWhitecolor;
  }
  .object__number--second {
    margin-top: 19px;
    z-index: 1;
  }
  .object__ellipse--top {
    top: 60px;
  }
  .girl {
    position: absolute;
    right: 34px;
    top: 292px;
    width: 168px;
  }
}
@media screen and (min-width: 1280px) {
  .object {
    margin-top: 74px;
  }
  .object__number {
    position: relative;
    font-family: Titan One;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .object__descript {
    font-family: DM Sans;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: $textWhitecolor;
  }
  .object__ellipse {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $textWhitecolor;
    left: 60px;
  }
  .object__ellipse--top {
    top: 88px;
  }
  .girl {
    position: absolute;
    right: 109px;
    top: 473px;
    width: 293px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-menu2 {
    position: absolute;
    top: 23px;
    right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-bottom: 23px;
    border: none;
    fill: #fff;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffa5ba;
    z-index: 100;
    padding: 60px 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0%);
  }
  .mobile-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    width: 209px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: wheat;
      color: salmon;
    }
  }
  .mobile-btn > svg {
    margin-left: 15px;
  }
  .gamburger-menu__item {
    border: 1px solid #e18298;
    height: 42px;
    display: flex;
    align-items: center;
  }
  .gamburger-menu__link {
    padding: 13px 0 11px 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }
  .gamburger-menu__link--color {
    color: #d41443;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile-menu2 {
    position: absolute;
    top: 23px;
    right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-bottom: 23px;
    border: none;
    fill: #fff;
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 50vw;
    height: 100vh;
    background-color: #ffa5ba;
    z-index: 100;
    padding: 60px 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  .menu-container.is-open {
    transform: translateX(0%);
  }
  .mobile-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #d41443;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    width: 209px;
    height: 44px;
    background: #ffffff;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: wheat;
      color: salmon;
    }
  }
  .mobile-btn > svg {
    margin-left: 15px;
  }
  .gamburger-menu__item {
    border: 1px solid #e18298;
    height: 42px;
    display: flex;
    align-items: center;
  }
  .gamburger-menu__link {
    padding: 13px 0 11px 21px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }
  .gamburger-menu__link--color {
    color: #d41443;
  }
}
