.products {
  padding-top: 121px;
  padding-bottom: 112px;

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__about {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffa5ba;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.products__title {
  margin-bottom: 144px;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  color: #d41443;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
    margin-bottom: 259px;
  }
}
.products__list {
  // width: 100%;
  // margin-bottom: -160px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 0;
  }
}
.products__item {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // padding: 146px 0 41px;
  // max-width: 350px;
  width: 100%;
  // height: 485px;
  position: relative;
  border-radius: 24px;
  background-color: #ffb8ca;
  @media screen and(min-width:320px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 220px;
    height: 485px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 329px;
    // height: 525px;
    &:not(:last-child) {
      margin-right: 29px;
    }
  }
}
.products__block {
  padding: 161px 41px;
  @media screen and(min-width:768px) and (max-width: 1279px) {
    padding: 152px 23px 40px 23px;
  }
  @media screen and(min-width:1280px) {
    padding: 163px 44px 152px 44px;
  }
}
.first {
  background-color: #ffb8ca;
  position: relative;
}
.second {
  background-color: #f0d1a5;
}
.third {
  background-color: #c2e297;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .first::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 252px;
    background-image: url('../images/productsmobilka1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .second::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 252px;
    background-image: url('../images/productsmobilka2@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .third::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 252px;
    background-image: url('../images/productsmobilka3@1x.png');
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .first::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 226px;
    background-image: url('../images/productsmobilka1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .second::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 226px;
    background-image: url('../images/productsmobilka2@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .third::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -113px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 226px;
    background-image: url('../images/productsmobilka3@1x.png');
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1280px) {
  .first::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -163px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 335px;
    background-image: url('../images/productsdecstop1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .second::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -163px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 335px;
    background-image: url('../images/productsdecstop2@1x.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .third::before {
    content: '';
    position: absolute;
    left: -12%;
    top: -163px;
    width: 100%;
    transform: translate(12%, 0);
    background-position: center;
    height: 335px;
    background-image: url('../images/productsdecstop3@1x.png');
    background-repeat: no-repeat;
  }
}
// .first::before {
//   content: '';
//   position: absolute;
//   left: -12%;
//   top: -113px;
//   width: 100%;
//   transform: translate(12%, 0);
//   background-position: center;
//   height: 252px;
//   background-image: url('../images/productsmobilka1@1x.png');
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .second::before {
//   content: '';
//   position: absolute;
//   left: -12%;
//   top: -113px;
//   width: 100%;
//   transform: translate(12%, 0);
//   background-position: center;
//   height: 252px;
//   background-image: url('../images/productsmobilka2@1x.png');
//   background-repeat: no-repeat;
//   background-position: center;
// }
// .third::before {
//   content: '';
//   position: absolute;
//   left: -12%;
//   top: -113px;
//   width: 100%;
//   transform: translate(12%, 0);
//   background-position: center;
//   height: 252px;
//   background-image: url('../images/productsmobilka3@1x.png');
//   background-repeat: no-repeat;
// }
.products__name {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-family: Titan One, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  @media screen and(min-width:1280px) {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 38px;
  }
}
.products__text {
  text-align: center;
  font-family: DM Sans, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.52;
  margin-top: 66px;
  @media screen and(min-width:1280px) {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 70px;
    letter-spacing: 0.04em;
  }
}
.products__name::before {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  background-position: center;
  width: 26px;
  height: 6px;
  background-image: url('../images/productsgroup.png');
}

// .products__bt
.btn-info-first,
.btn-info-second,
.btn-info-third {
  position: absolute;
  z-index: 997;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 12%;
  left: 43%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  fill: #d41443;
  background-color: #fff;
  border-radius: 50%;
  // transform: translate(-50%, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    right: 40%;
    bottom: 7%;
    z-index: 0;
  }

  @media screen and (min-width: 1280px) {
    right: 44%;
    bottom: 10%;
  }
}

.icon-btn-info-first,
.icon-btn-info-second,
.icon-btn-info-third {
  width: 20px;
  height: 13px;
  cursor: pointer;
}

.btn-info-first .icon__arrow,
.btn-info-second .icon__arrow,
.btn-info-third .icon__arrow {
  display: block;
}

.btn-info-first.is-open .icon__arrow,
.btn-info-second.is-open .icon__arrow,
.btn-info-third.is-open .icon__arrow {
  display: none;
}

.btn-info-first .icon__close,
.btn-info-second .icon__close,
.btn-info-third .icon__close {
  display: none;
}

.btn-info-first.is-open .icon__close,
.btn-info-second.is-open .icon__close,
.btn-info-third.is-open .icon__close {
  display: block;
}

.products__overflow-first,
.products__overflow-second,
.products__overflow-third {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #d41443;
  transform: scale (0);
  border-radius: 24px;
  padding: 161px 41px;
}
.products__overflow-first.is-open,
.products__overflow-second.is-open,
.products__overflow-third.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: scale(1.018);
  transition: transform 250ms linear;
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 100%;
    padding-top: 161px;
  }
  @media screen and(min-width: 768px) {
    width: 100%;
    height: 100%;
    padding-top: 152px;
  }
  @media screen and(min-width: 1280px) {
    width: 100%;
    height: 100%;
    padding-top: 163px;
  }
}

.products__description-first,
.products__description-second,
.products__description-third {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 24px;
  color: #fff;
  background-color: #d41443;
  // padding: 20px 20px;

  @media screen and (max-width: 767px) {
    font-size: 10px;
  }
  @media screen and(min-width: 768px) {
    font-size: 12px;
  }
  @media screen and(min-width: 1280px) {
    font-size: 10px;
  }
}
