@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.products {
  padding-top: 121px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 60px;
  }
}

.products__about {
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products__title {
  margin-bottom: 150px;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 170px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    padding-top: 0px;
  }
}

.products__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list {
    margin-right: -10px;
  }
}

.products__item {
  display: block;
  padding: 146px 0 41px;
  margin-bottom: 230px;
  max-width: 350px;
  height: auto;
  position: relative;
  border-radius: 24px;
  background-color: #ffb8ca;
}

@media screen and (min-width: 768px) {
  .products__item {
    width: 220px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products__item {
    width: 330px;
    margin-right: 10px;
  }
}

.first {
  background-color: #ffb8ca;
}

.second {
  background-color: #f0d1a5;
}

.third {
  background-color: #c2e297;
}

.first::before {
  content: '';
  position: absolute;
  left: 0;
  top: -50%;
  width: 249px;
  transform: translate(12%, 0);
  height: 252px;
  background-image: url("../images/Productsmobilka1@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (min-width: 768px) {
  .first::before {
    transform: translate(-5%, 0);
  }
}

@media screen and (min-width: 1280px) {
  .first::before {
    transform: translate(12%, 0);
  }
}

.second::before {
  content: '';
  position: absolute;
  left: auto;
  top: -50%;
  width: 100%;
  transform: translate(12%, 0);
  height: 252px;
  background-image: url("../images/Productsmobilka2@1x.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .second::before {
    transform: translate(-5%, 0);
  }
}

@media screen and (min-width: 1280px) {
  .second::before {
    transform: translate(12%, 0);
  }
}

.third::before {
  content: '';
  position: absolute;
  left: auto;
  top: -50%;
  width: 100%;
  transform: translate(12%, 0);
  height: 252px;
  background-image: url("../images/Productsmobilka3@1x.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .third::before {
    transform: translate(-5%, 0);
  }
}

@media screen and (min-width: 1280px) {
  .third::before {
    transform: translate(12%, 0);
  }
}

.products__name {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: Titan One, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  color: #ffffff;
  margin-bottom: 32px;
}

.products__text {
  padding: 0 30px;
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.52;
}

.products__name::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 200%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
}

.advantages {
  background-color: #fff5f6;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 140px;
  }
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .advantages-item {
    margin-bottom: 38px;
  }
}

.advantages-subtitle__primary,
.advantages-subtitle__secondary,
.advantages-subtitle__third {
  font-family: Titan One;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary,
  .advantages-subtitle__secondary,
  .advantages-subtitle__third {
    font-size: 58px;
    margin-bottom: 15px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__primary::before,
.advantages-subtitle__secondary.advantages-subtitle__primary::before,
.advantages-subtitle__third.advantages-subtitle__primary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 33px;
  height: 50px;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon1.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__primary::before,
  .advantages-subtitle__secondary.advantages-subtitle__primary::before,
  .advantages-subtitle__third.advantages-subtitle__primary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__secondary::before,
.advantages-subtitle__secondary.advantages-subtitle__secondary::before,
.advantages-subtitle__third.advantages-subtitle__secondary::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon2.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__secondary::before,
  .advantages-subtitle__secondary.advantages-subtitle__secondary::before,
  .advantages-subtitle__third.advantages-subtitle__secondary::before {
    margin-bottom: 40px;
  }
}

.advantages-subtitle__primary.advantages-subtitle__third::before,
.advantages-subtitle__secondary.advantages-subtitle__third::before,
.advantages-subtitle__third.advantages-subtitle__third::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 44px;
  height: 50px;
  text-align: left;
  margin-bottom: 16px;
  background-image: url(../images/advantages_icon3.png);
}

@media screen and (min-width: 768px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-subtitle__primary.advantages-subtitle__third::before,
  .advantages-subtitle__secondary.advantages-subtitle__third::before,
  .advantages-subtitle__third.advantages-subtitle__third::before {
    margin-bottom: 40px;
  }
}

.advantages-text {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: black;
}

@media screen and (min-width: 768px) {
  .advantages-text {
    width: 174px;
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-text {
    width: 260px;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}
