@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
.example {
  line-height: 1.5;
  background-color: #fff;
  color: #424242;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #009688;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/demo.jpg");
  background-size: cover;
  background-position: center;
}

body {
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.article-section {
  background-color: #fff5f6;
  width: auto;
  padding: 0 44px 113px 56px;
}

@media screen and (min-width: 768px) {
  .article-section {
    padding: 0 36px 158px 36px;
  }
}

@media screen and (min-width: 1280px) {
  .article-section {
    padding: 0 115px 165px 115px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.article-section__site--city,
.article-section__site--paragraph {
  width: 179px;
}

@media screen and (min-width: 1280px) {
  .article-section__site--city,
  .article-section__site--paragraph {
    width: 243px;
  }
}

.article-section__site--city {
  margin-bottom: 10px;
  margin-top: 0;
}

.article-section--border {
  border-bottom: 1px solid #e1e1e1;
  width: auto;
  margin: 25px 0 25px 0;
}

@media screen and (min-width: 1280px) {
  .article-section--border {
    margin: 32px 0 32px 0;
  }
}

.article-section__site--days {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
  margin-top: 0;
  margin-bottom: 0;
}

.article-section__site--times {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
  margin-top: 0;
  margin-bottom: 10px;
}

.article-section__site--times__second {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: #ffa5ba;
}

@media screen and (min-width: 1280px) {
  .article-section__site--times__second {
    margin-bottom: 15px;
  }
}

.article-section__link--tel,
.article-section__link--mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

@media screen and (min-width: 1280px) {
  .article-section__link--tel,
  .article-section__link--mail {
    margin-bottom: 15px;
  }
}

.article-section__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .article-section__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.article-section__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 40px 20px 43px 20px;
}

@media screen and (min-width: 768px) {
  .article-section__site {
    margin-right: 20px;
    margin-bottom: 54px;
  }
}

@media screen and (min-width: 1280px) {
  .article-section__site {
    width: 330px;
    margin-right: 31px;
    margin-bottom: 86px;
    padding: 51px 44px 62px 44px;
  }
}

.article-section__site:last-child {
  margin-right: 0;
}

.article-section__site--locations {
  width: 80px;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
}

@media screen and (min-width: 1280px) {
  .article-section__site--locations {
    margin-bottom: 32px;
  }
}

.article-section__site--locations-second {
  width: 130px;
  color: #ffffff;
  background-color: #c2e297;
  border-radius: 4px;
  text-align: center;
  margin: 0 0 25px 0;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
}

@media screen and (min-width: 1280px) {
  .article-section__site--locations-second {
    margin-bottom: 32px;
  }
}

.article-section__site--paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

.article-section__list--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .article-section__list--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .article-section__list--link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.article-section__list--locations,
.article-section__list--franchise {
  width: 161px;
  height: 44px;
  text-align: center;
  padding: 10px 0 10px 0;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border: none;
}

.article-section__list--locations {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article-section__list--locations {
    margin: 0 15px 0 0;
  }
}

.article-section__list--locations,
.article-section__list--franchise {
  background-color: #d41342;
  color: #ffffff;
}

.article-section__list--locations:hover,
.article-section__list--locations:focus,
.article-section__list--franchise:hover,
.article-section__list--franchise:hover {
  background-color: #ffffff;
  color: #d41342;
}
/*# sourceMappingURL=main.css.map */