// html,
// body {
//   max-width: 100%;
//   overflow-x: hidden;
// }

body {
  font-family: 'DM Sans', sans-serif;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  @media screen and (min-width: 320px) and(max-width:479px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}

// .container {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 20px;
//   padding-right: 20px;
//   @media screen and (min-width: 320px) {
//     width: 320px;
//   }
//   @media screen and (min-width:480px){
//     width: 480px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 1200px;
//   }
// }
