$textWhitecolor: #ffffff;
$textblackcolor: #000000;
$textgreycolor: #907e82;
$textpinkcolor: #ffa5ba;
$textredcolor: #d41443;
$backgroundcontactscolor: #fff5f6;
$productsLi1color: #ffb8ca;
$productsLi2color: #f0d1a5;
$productsLi3color: #c2e297;
$text-slogan: rgba(255, 165, 186, 1);
