<section class="about setion" id="how">
  <div class="container">
    <p class="about__slogan">tradition and love</p>
    <h2 class="about__title">how it&apos;s made?</h2>
    <div class="about__wrap">
      <img
        srcset="
          ./images/karovamobilka@1x.png   280w,
          ./images/karovamobilka@2x.png   560w,
          ./images/karovaplanshet@1x.png  340w,
          ./images/karovaplanshet@2x.png  680w,
          ./images/karovadecstop@1x.png   516w,
          ./images/karovadecstop@2x.png  1032w
        "
        sizes="(min-width:1280px) 516px, (min-width:768px) 340px, (min-width:320px) 280px, 100vw"
        src="./images/karovamobilka@1x.png"
        alt="графин с молоком и корова"
        class="about__img"
      />
      <div class="about__box-info">
        <p class="about__text about__text--top">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text about__text--bottom">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__bt" type="button" about-modal-open>
          Read more
          <svg class="about__icon">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
