<section class="advantages section">
  <div class="container">
    <h2 class="advantages-title">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <p class="advantages-subtitle__primary">721</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-subtitle__secondary">16kg</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-subtitle__third">84</p>
        <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
