<article class="article-section" id="contacts">
  <div class="container article-section__dop">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="article-section__navigation">
      <li class="article-section__site">
          <p class="article-section__site--locations">CAFE</p>
          <p class="article-section__site--city">Chicago</p>
          <p class="article-section__site--paragraph">
            Fusce ut velit laoreet, tempus arcu molestiebr vulputate
          </p>
        <ul class="article-section--border">
            <li class="article-section__site--days">Monday - Friday</li>
            <li class="article-section__site--times">06:00 AM - 10:00 PM</li>
            <li class="article-section__site--days">Saturday - Sunday</li>
            <li class="article-section__site--times__second">08:00 AM - 16:00 PM</li>
        </ul>
          <ul class="article-section--border">
              <li class="article-section__tel--link">
                <a class="article-section__link--tel"
                   href="tel:+61(0)383766284">+61(0) 383 766 284
                </a>
              </li>
              <li class="article-section__link--mail">noreply@envato.com</li>
          </ul>
      </li>
      <li class="article-section__site">
          <p class="article-section__site--locations-second">FOOD TRUCK</p>
          <p class="article-section__site--city">Los Angeles</p>
          <p class="article-section__site--paragraph">
            Fusce ut velit laoreet, tempus arcu molestiebr vulputate
        <ul class="article-section--border">
            <li class="article-section__site--days">Monday - Friday</li>
            <li class="article-section__site--times">06:00 AM - 10:00 PM</li>
            <li class="article-section__site--days">Saturday - Sunday</li>
            <li class="article-section__site--times__second">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="article-section--border">
            <li class="article-section__tel--link">
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284
                </a>
            </li>
            <li class="article-section__link--mail">noreply@envato.com</li>
        </ul>
      </li>
      <li class="article-section__site">
          <p class="article-section__site--locations">CAFE</p>
          <p class="article-section__site--city">New York</p>
          <p class="article-section__site--paragraph">
            Fusce ut velit laoreet, tempus arcu molestiebr vulputate
          </p>
            <ul class="article-section--border">
                <li class="article-section__site--days">Monday - Friday</li>
                <li class="article-section__site--times">06:00 AM - 10:00 PM</li>
                <li class="article-section__site--days">Saturday - Sunday</li>
                <li class="article-section__site--times__second">08:00 AM - 16:00 PM</li>
            </ul>
        <ul class="article-section--border">
            <li class="article-section__tel--link">
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284
                </a>
            </li>
            <li class="article-section__link--mail">noreply@envato.com</li>
        </ul>
      </li>
    </ul>
    <div class="article-section__list--link">
      <button class="article-section__list--locations" type="button">
        Our Locations
        <svg class="article-section__svg" width="8" height="8">
          <use
            class="article-section__svg--element"
            href="./images/symbol-defs.svg#icon-about-contacts"
          ></use>
        </svg>
      </button>
      <button class="article-section__list--franchise" type="button">
        Franchise
        <svg class="article-section__svg" width="8" height="8">
          <use
            class="article-section__svg--element"
            href="./images/symbol-defs.svg#icon-about"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</article>
