<article class="article-section">
    <div class="conteiner">
        <h2 class="visually-hidden">Contacts</h2>
        <ul class="article-section__navigation">
            <li class="article-section__site article-dop">
                <p class="article-section__site--locations">CAFE</p>
                <p class="article-section__site--city">Chicago</p>
                <p class="article-section__site--paragraph">
                    Fusce ut velit laoreet, tempus arcu molestiebr vulputate
                </p>
                <span class="article-section--border"></span>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times__second">08:00 AM - 16:00 PM</p>
                <span class="article-section--border"></span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="article-section__site article-dop__dop">
                <p class="article-section__site--locations-second">FOOD TRUCK</p>
                <p class="article-section__site--city">Los Angeles</p>
                <p class="article-section__site--paragraph">
                    Fusce ut velit laoreet, tempus arcu molestiebr vulputate
                </p>
                <span class="article-section--border"></span>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times__second">08:00 AM - 16:00 PM</p>
                <span class="article-section--border"></span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
            <li class="article-section__site">
                <p class="article-section__site--locations">CAFE</p>
                <p class="article-section__site--city">New York</p>
                <p class="article-section__site--paragraph">
                    Fusce ut velit laoreet, tempus arcu molestiebr vulputate
                </p>
                <span class="article-section--border"></span>
                <p class="article-section__site--days">Monday - Friday</p>
                <p class="article-section__site--times">06:00 AM - 10:00 PM</p>
                <p class="article-section__site--days">Saturday - Sunday</p>
                <p class="article-section__site--times__second">08:00 AM - 16:00 PM</p>
                <span class="article-section--border"></span>
                <a class="article-section__link--tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="article-section__link--mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>
        <div class="article-section__list--link">
            <button class="article-section__list--locations" type="button">
                Our Locations
                <svg class="article-section__svg" width="8" height="8">
                    <use class="article-section__svg--element" 
                    href="./images/symbol-defs.svg#icon-about"></use>
                </svg>
            </button>
            <button class="article-section__list--franchise" type="button">
                Franchise
                <svg class="article-section__svg" width="8" height="8">
                    <use class="article-section__svg--element" 
                    href="./images/symbol-defs.svg#icon-about"></use>
                </svg>
            </button>
        </div>
    </div>
</article>