<section class="customer">
    <!-- Свайпер -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide customer-item customer__slide">
                <img srcset="./images/devushkakudri@1x.png 1x, ./images/devushkakudri@2x.png 2x"
                    src="./images/devushkakudri@1x.png" alt="Emily">
                <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="customer__dots">. . .</p>
                <p class="customer__name">Emily, Los Angeles</p>
            </div>
            <div class="swiper-slide customer__slide">
                <img srcset="./images/afrikanka@1x.png 1x, ./images/afrikanka@2x.png 2x" src="./images/afrikanka@1x.png"
                    alt="">
                <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="customer__dots">. . .</p>
                <p class="customer__name">Amanda, New York</p>
            </div>
            <div class="swiper-slide customer__slide">
                <img srcset="./images/devushkaachki@1x.png 1x, ./images/devushkaachki@2x.png 2x"
                    src="./images/devushkaachki@1x.png" alt="">
                <p class="customer__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
                <p class="customer__dots">. . .</p>
                <p class="customer__name">Chloe, Chicago</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>