<footer class="page-footer">
  <div class="container page-footer__wrapper">
    <div class="page-footer__container">
      <div class="page-footer__content">
        <p class="page-footer__title">
          Homemade ice cream made <span class="page-footer__title--main">with passion</span>
        </p>

        <div>
          <ul class="page-footer__social-web-list">
            <li class="page-footer__social-web-item">
              <a class="page-footer__social-web-link" href="https://github.com/" target="_blank">
                <svg class="page-footer__social-web-icon" width="32px" height="32px">
                  <use href="./images/symbol-defs.svg#github"></use>
                </svg>
              </a>
            </li>
            <li class="page-footer__social-web-item">
              <a
                class="page-footer__social-web-link"
                href="https://web.telegram.org/"
                target="_blank"
              >
                <svg class="page-footer__social-web-icon" width="34px" height="34px">
                  <use href="./images/symbol-defs.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="page-footer__social-web-item">
              <a
                class="page-footer__social-web-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg class="page-footer__social-web-icon" width="34px" height="34px">
                  <use href="./images/symbol-defs.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <a class="page-footer__contact" href="tel:+610383766284"
            >Feel free to contact
            <span class="page-footer__tell">+ 61 (0) 383 766 284</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-footer__copy">
    <div class="container page-footer__container">
      <p class="page-footer__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
