<section class="gallery-section">
  <div class="container">
    <h2 class="visually-hidden">Photos of the ice cream</h2>

    <ul class="gallery-section__pics">
      <li class="gallery-section__position">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/1@1x.jpg 1x, ./images/gallery/1@2x.jpg 2x"
          src="./images/gallery/1@1x.jpg"
          alt="two ice-creams on a stick"
        />
      </li>

      <li class="gallery-section__position">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/2@1x.jpg 1x, ./images/gallery/2@2x.jpg 2x"
          src="./images/gallery/2@1x.jpg"
          alt="ice-cream cone"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/3@1x.jpg 1x, ./images/gallery/3@2x.jpg 2x"
          src="./images/gallery/3@1x.jpg"
          alt="ice-creams on a stick"
        />
      </li>

      <li class="gallery-section__position">
        <img
          class="gallery-section__item gallery-section__item--large"
          srcset="
            ./images/gallery/7mobile@1x.jpg  1x,
            ./images/gallery/7mobile@2x.jpg  2x,
            ./images/gallery/7tablet@1x.jpg  1x,
            ./images/gallery/7tablet@2x.jpg  2x,
            ./images/gallery/7desktop@1x.jpg 1x,
            ./images/gallery/7desktop@2x.jpg 2x
          "
          src="./images/gallery/7desktop@1x.jpg"
          alt="ice-creams assorti"
        />

        <!-- sizes="(min-width:1280px) 284px, (min-width:768px) 175px, (min-width:320px) 81px, 100vw" -->
        <img
          class="gallery-section__item gallery-section__item--left"
          srcset="./images/gallery/4@1x.jpg 1x, ./images/gallery/4@2x.jpg 2x"
          src="./images/gallery/4@1x.jpg"
          alt="girl with ice-cream"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--down">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/5@1x.jpg 1x, ./images/gallery/5@2x.jpg 2x"
          src="./images/gallery/5@1x.jpg"
          alt="ice-cream with blueberry"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/6@1x.jpg 1x, ./images/gallery/6@2x.jpg 2x"
          src="./images/gallery/6@1x.jpg"
          alt="ice-cream cone"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--up">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/9@1x.jpg 1x, ./images/gallery/9@2x.jpg 2x"
          src="./images/gallery/9@1x.jpg"
          alt="dog licking ice-cream"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/10@1x.jpg 1x, ./images/gallery/10@2x.jpg 2x"
          src="./images/gallery/10@1x.jpg"
          alt="ice-cream shake"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--last">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/8@1x.jpg 1x, ./images/gallery/8@2x.jpg 2x"
          src="./images/gallery/8@1x.jpg"
          alt="ice-cream topping"
        />
      </li>
    </ul>
  </div>
</section>
