<section class="gallery-section">
  <div class="container">
    <h2 class="visually-hidden">Photos of the ice cream</h2>

    <ul class="gallery-section__pics">
      <li class="gallery-section__position">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/1.jpg"
          src="./images/gallery/1.jpg"
          alt="two ice-creams on a stick"
          width="139"
          height="139"
        />
      </li>

      <li class="gallery-section__position">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/2.jpg"
          src="./images/gallery/2.jpg"
          alt="ice-cream cone"
          width="139"
          height="139"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/3.jpg"
          src="./images/gallery/3.jpg"
          alt="ice-creams on a stick"
          width="139"
          height="139"
        />
      </li>

      <li class="gallery-section__position">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/7.jpg"
          src="./images/gallery/7.jpg"
          alt="ice-creams assorti"
          width="284"
          height="285"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/4.jpg"
          src="./images/gallery/4.jpg"
          alt="girl with the ice-cream"
          width="139"
          height="139"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--down">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/5.jpg"
          src="./images/gallery/5.jpg"
          alt="ice-cream with blueberry"
          width="139"
          height="139"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/6.jpg"
          src="./images/gallery/6.jpg"
          alt="ice-cream cone"
          width="139"
          height="139"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--up">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/9.jpg"
          src="./images/gallery/9.jpg"
          alt="dog licks the ice-cream"
          width="139"
          height="139"
        />

        <img
          class="gallery-section__item"
          srcset="./images/gallery/10.jpg"
          src="./images/gallery/10.jpg"
          alt="ice-cream shake"
          width="139"
          height="139"
        />
      </li>

      <li class="gallery-section__position gallery-section__position--last">
        <img
          class="gallery-section__item"
          srcset="./images/gallery/8.jpg"
          src="./images/gallery/8.jpg"
          alt="ice-cream topping"
          width="139"
          height="139"
        />
      </li>
    </ul>
  </div>
</section>
