<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      ice cream made with
      <span class="hero__title--span">passion</span>
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <a class="hero__link" href="#products">Products</a>
      </li>
      <li class="hero__item hero__item--white">
        <a class="hero__link hero__link--color" href="#how">How it’s made?</a>
      </li>
    </ul>
    <div class="hero__description">
      <img class="Hero__imga" src="./images/grafinplanshet@1x.png" alt="графин с молоком" />
      <div class="hero__description--arrow">
        <p class="hero__description--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="hero__description--svg">
          <svg width="18" height="18">
            <use
              class="hero__description--icon"
              href="./images/arrowright.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="circle1">
      <div class="circle"></div>
      <img
        class="ice-cream"
        srcset="
          ./images/photoheromobilka1x.png  1x,
          ./images/photoheromobilka@2x.png 2x,
          ./images/photoheroplanshet1x.png 1x,
          ./images/photoherodekstop1x.png  1x,
          ./images/photoherodekstop@2x.png 2x
        "
        src="./images/photoheromobilka1x.png"
        alt=""
      />
      <img class="grafin" src="./images/grafindecstop@1x.png" alt="" />
      <img
        class="girl"
        srcset="./images/girldecstop@1x.png 1x"
        src="./images/girlplanshet@1x.png"
        alt=""
      />

      <div class="object">
        <div class="object__first">
          <div class="object__ellipse"></div>
          <p class="object__number">16</p>
          <p class="object__descript">cafes</p>
        </div>

        <div class="object__second">
          <p class="object__number object__number--second">23</p>
          <p class="object__descript">food trucks</p>
          <div class="object__ellipse object__ellipse--top"></div>
        </div>
      </div>
    </div>
  </div>
</section>
